<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:intenandroid="http://schemas.android.com/apk/res-auto"
    xmlns:intent-filterandroid="http://schemas.android.com/tools"
    package="com.example.saahil.navex">

    <application> android:allowBackup="true" android:label="@string/app_name"
        android:icon="@mipmap/ic_launcher" android:theme="@style/AppTheme">

        <activity android:name=".Main" android:label="xxx">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"></action>
                <category android:name="android.intent.category.LAUNCHER"></category>

            </intent-filter>
        </activity>
    </application>

</manifest>
